# Node modules
node_modules/

# Logs
*.log

# Build output
dist/
build/
out/
*.tsbuildinfo

# Cache and runtime files
.cache/
.eslintcache/

# Environment variables
.env*

# IDEs
.vscode/
.idea/

# OS
.DS_Store